<!DOCTYPE html>
<html>
  <head>
    <title>Referencias</title>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    	<link rel="icon" href="/static/images/ico.png">
    <style>
    html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
    </style>

  </head>

	<body style="background-color: black;">
    <div style="display: none;">
      <img id="fondo0" src="/static/images/spin_marvel.png"></img>
      <img id="fondo2" src="/static/images/spin_anime.png"></img>
      <img id="fondo1" src="/static/images/spin_starwars.png"></img>
      <img id="fondo4" src="/static/images/spin_memes.png"></img>
      <img id="fondo3" src="/static/images/spin_futbol.png"></img>
      <img id="pregunta" src="/static/images/question.png"></img>
      <img id="mal" src="/static/images/wrong.png"></img>
      <img id="bien" src="/static/images/check.png"></img>
      <img id="error" src="/static/images/error.png"></img>

    </div>
    <canvas width="100%" height="100%" id="app" style="border: 1px solid black;"></canvas>

    <script src="../static/js/juego.js"></script>
  </body>
</html>
